.submit-row input {
  border-radius: 12px !important;
}

.module caption {
  border-radius: 12px !important;
  text-align: center !important;
}

.button {
  background: #79aec8 !important;
  color: white !important;
}

.submit-row a.deletelink {
  border-radius: 12px !important;
}

.login {
  height: 100% !important;
  align-items: center;
  display: flex;
}
